/* 
    Document   : css1
    Created on : 11-oct-2013, 9:50:07
    Author     : cep
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}
td{
border:1px solid;
}

